
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


html{
    background-color: #12171a;
    background-image: url(../image/exp.jpg);
    
}


/* text styles */
body {
    background-color: #0f1416 ;
    text-align: center;

    
    
    
   
}

p {
    color: #fee000 ;
    font-family: "Sour", sans-serif;
    width: 90%;
    text-indent: 5%;
    font-size: large;
    
    
    

}

h1,h2,h3 {
    color: #4a9ebf ;
    font-family:"Static", sans-serif ;
    font-size: 25px;
   
    

}

footer {
    color:#fee000 ;
    background-color: #4a9ebf;
    font-family: "Sour", sans-serif;
}
footer::after {
    clear: both;
    content: "";
    display: table;
}

/* formating the screen */
body {
    margin-left:auto ;
    margin-right: auto;
    max-width: 1600px;
    min-width: none;
}

/* image formatting */
img {
    border: 5px solid #4a9ebf;
    border-radius: 20px;
   width: 960px;
   height: 300px;
   outline: 3px #fee000;
}


/* nav lisst styles */ 

nav {
    background-color: aqua;
    color: #fee000;
}
nav.horizontalNavigation li {
    display: block;
    float: left;
}

nav.horizontalNavigation a {
    display: block;
    text-align: center;
}